body{margin-top:20px;
    background-color: rgba(235, 238, 255, 1) !important;
    }
    
    .invoice-aside {
        background-color: #ededed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 50px 33px;
        min-width: 300px
    }
    
    @media (max-width: 575.98px) {
        .invoice-aside {
            padding:25px
        }
    }
    
    .invoice-logo {
        height: 200px;
        min-width: 233px;
        background-image: url(../img/brand/CARECA_LOGO.WEBP);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0;
        margin: 0 0 0px;
        margin-top: -70px
    }
    
    @media (max-width: 575.98px) {
        .invoice-logo {
            height:20px;
            min-width: 133px;
            width: 133px;
            margin: 0 auto 57.5px;
            float: none;
            min-width: auto
        }
    }
    
    .invoice-person {
        text-align: center
    }
    
    .invoice-person .name {
        font-size: 1.53846rem;
        font-weight: 600
    }
    
    @media (max-width: 575.98px) {
        .invoice-person .name {
            font-size:1.07692rem
        }
    }
    
    .invoice-person .position {
        font-size: 1.23077rem
    }
    
    @media (max-width: 575.98px) {
        .invoice-person .position {
            font-size:1rem
        }
    }
    
    .invoice-person span {
        font-size: 1.23077rem;
        line-height: 1.78;
        display: block;
        font-weight: 300
    }
    
    @media (max-width: 575.98px) {
        .invoice-person span {
            font-size:1rem
        }
    }
    
    .invoice-payment-direction {
        text-align: center;
        margin: 89px 0
    }
    
    @media (max-width: 575.98px) {
        .invoice-payment-direction {
            margin:44.5px 0
        }
    }
    
    .invoice-payment-direction .icon {
        font-size: 4.23077rem;
        line-height: 1
    }
    
    @media (max-width: 767.98px) {
        .invoice-payment-direction .icon {
            font-size:1.92308rem
        }
    }
    
    .invoice-company-info {
        margin-top: 100px
    }
    
    @media (max-width: 575.98px) {
        .invoice-company-info {
            margin-top:50px;
            text-align: center
        }
    }
    
    .invoice-company-info .summary {
        font-size: 1.077rem;
        line-height: 1.3
    }
    
    @media (max-width: 575.98px) {
        .invoice-company-info .summary {
            font-size:1rem
        }
    }
    
    .invoice-company-info .summary .title {
        display: block;
        font-size: 1.38462rem;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 1.38462rem
    }
    
    @media (max-width: 575.98px) {
        .invoice-company-info .summary .title {
            font-size:1.07692rem
        }
    }
    
    .invoice-company-info .email li,.invoice-company-info .phone li {
        font-size: 1.077rem;
        line-height: 1.7
    }
    
    .invoice-content {
        background-color: #fff;
        padding: 50px 33px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
        flex: 1 1 0%
    }
    
    @media (max-width: 575.98px) {
        .invoice-content {
            padding:25px
        }
    }
    
    .invoice-header {
        margin-bottom: 100px
    }
    
    @media (max-width: 575.98px) {
        .invoice-header {
            margin-bottom:50px
        }
    }
    
    .invoice-title {
        font-size: 2.69231rem;
        font-weight: 300;
    }
    
    @media (max-width: 575.98px) {
        .invoice-title {
            font-size:1.92308rem
        }
    }
    
    .invoice-order {
        text-align: right
    }
    
    .invoice-order .invoice-number {
        display: block;
        margin-top: 1rem;
        font-size: 1.38462rem
    }
    
    @media (max-width: 575.98px) {
        .invoice-order .invoice-number {
            font-size:1.07692rem
        }
    }
    
    .invoice-order .invoice-date {
        font-size: 1.077rem;
        color: #858585
    }
    
    @media (max-width: 575.98px) {
        .invoice-order .invoice-date {
            font-size:1rem
        }
    }
    
    .invoice-details {
        width: 100%;
        font-size: 1.07692rem;
        margin-bottom: 110px
    }
    
    @media (max-width: 575.98px) {
        .invoice-details {
            font-size:1rem;
            margin-bottom: 55px
        }
    }
    
    .invoice-details thead th {
        text-align: right;
        padding-bottom: 1.69231rem;
        font-size: 1.38462rem
    }
    
    @media (max-width: 575.98px) {
        .invoice-details thead th {
            font-size:1rem;
            padding-bottom: 1.15385rem
        }
    }
    
    .invoice-details thead th:first-child {
        text-align: left
    }
    
    .invoice-details tr>td {
        padding: 23px 0
    }
    
    @media (max-width: 767.98px) {
        .invoice-details tr>td {
            padding:10px 0
        }
    }
    
    .invoice-details tbody .hours {
        text-align: right
    }
    
    .invoice-details tbody .amount {
        text-align: right
    }
    
    .invoice-summary {
        width: 100%;
        font-size: 1.38462rem;
        border-top: 1px solid #d9d9d9;
        margin-bottom: 110px
    }
    
    @media (max-width: 575.98px) {
        .invoice-summary {
            margin-bottom:55px;
            font-size: 1.07692rem
        }
    }
    
    .invoice-summary th {
        padding-top: 26px;
        font-weight: 600;
        width: 20%
    }
    
    @media (max-width: 575.98px) {
        .invoice-summary th {
            width:37%
        }
    }
    
    .invoice-summary th.total {
        width: 60%;
        font-size: 1.84615rem;
        text-align: right
    }
    
    @media (max-width: 575.98px) {
        .invoice-summary th.total {
            font-size:1.07692rem;
            width: 26%
        }
    }
    
    .invoice-summary .total-value {
        text-align: right;
        font-size: 3.07692rem
    }
    
    @media (max-width: 575.98px) {
        .invoice-summary .total-value {
            font-size:1.07692rem;
            font-weight: 600
        }
    }
    
    .invoice-payment-details {
        border: 1px solid #d9d9d9;
        border-left-width: 0;
        border-right-width: 0;
        padding: 23px 0
    }
    
    .invoice-payment-details p {
        margin-bottom: .538462rem
    }
    
    .invoice-message .title {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        color: #545454;
        font-size: 1.23077rem
    }
    
    @media (max-width: 575.98px) {
        .invoice-message .title {
            font-size:1.077rem
        }
    }
    
    .invoice-message p {
        font-size: 1.23077rem;
        color: #999;
        line-height: 1.6
    }
    
    @media (max-width: 575.98px) {
        .invoice-message p {
            font-size:1rem
        }
    }
    
    .invoice-footer {
        text-align: right
    }
    
    @media (max-width: 575.98px) {
        .invoice-footer {
            text-align:center
        }
    }