<div class="container-fluid" @fadeIn>
  <div class="row">
    <div class="col">
      <div class="booking-list-container mt--9">
        <h2>MOT Bookings</h2>
        <table class="booking-table">
          <thead>
          <tr>
            <th>Date</th>
            <th>Client</th>
            <th>Email</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>20/04/2024</td>
            <td>Sarah Adams</td>
            <td>sarah.adams@example.com</td>
            <td>£100.00</td>
            <td><span class="status paid">Pago</span></td>
            <td>
              <button class="pay">Pay</button>
              <button class="cancel">Cancel</button>
            </td>
          </tr>
          <tr>
            <td>22/04/2024</td>
            <td>John Doe</td>
            <td>john.doe@example.com</td>
            <td>£100.00</td>
            <td><span class="status pending">Pendente</span></td>
            <td>
              <button class="pay">Pay</button>
              <button class="cancel">Cancel</button>
            </td>
          </tr>
          <tr>
            <td>24/04/2024</td>
            <td>Jane Smith</td>
            <td>jane.smith@example.com</td>
            <td>£100.00</td>
            <td><span class="status cancelled">Cancelado</span></td>
            <td>
              <button class="pay">Pay</button>
              <button class="cancel">Cancel</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
