<!-- Modal HTML -->
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" *ngIf="modalControl"[@fadeIn]>
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="ni ni-check-bold">&#xE876;</i>
				</div>
				<h4 *ngIf="message.includes('negociação')" class="modal-title w-100">Confirmar Negocição!</h4>
        <h4 *ngIf="message.includes('pagamento')" class="modal-title w-100">Confirmar Pagamento!</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">{{message}}</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" (click)="confirmarPagarOuParcelar()" data-dismiss="modal">Confirmar</button>
                <button class="btn btn-success btn-block" (click)="closedModal()" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
