<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col">
      <div class="container mt-4 card shadow">
        <h2>ORDEM DE SERVIÇO</h2>
        <form>
            <div class="form-row align-items-end">
                <div class="col input-group">
                  <div _ngcontent-c8="" class="input-group-prepend">
                    <span _ngcontent-c8="" class="input-group-text">
                      <i class="fas fa-file-alt"></i>
                    </span>
                  </div>
                    
                    <input type="text" class="form-control" placeholder="N.Invoice" [(ngModel)]="nInvoice">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nome Cliente" [(ngModel)]="nomeCliente">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="VAT" [(ngModel)]="vat">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Status" [(ngModel)]="status">
                </div>
            </div>
    
            <div class="form-row align-items-end mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-round bg-default" type="button" (click)="incluirMoto()">
                        <i class="fas fa-motorcycle"></i> +
                    </button>
                </div>
            </div>
    
            <div id="collapseMenu" class="mt-3">
                <div *ngFor="let moto of motos; let i = index">
                    <div class="card mt-2" [attr.id]="'moto' + moto.id">
                        <div class="card-header d-flex justify-content-between align-items-center bg-default" style="height: 60px;">
                          <button class="btn btn-secondary" type="button" (click)="moto.isCollapsed = !moto.isCollapsed">
                            <i class="fas" [ngClass]="moto.isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                          </button>
                          <!-- [ngClass]="i % 2 === 0 ? 'bg-default' : 'bg-info'" -->
                            <span> <!-- Nova Moto {{ moto.id }}--></span>
                            <button class="btn btn-danger" type="button" (click)="removerMoto(i)">
                              <i class="fas fa-trash"></i>
                            </button>
                            
                        </div>
                        <div class="card-body" [ngClass]="{'collapse': moto.isCollapsed}">
                            <div class="form-row align-items-end">
                                <div class="col">
                                    <input type="text" class="form-control" [(ngModel)]="moto.placa" placeholder="Placa" [name]="'placa' + i">
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control" [(ngModel)]="moto.qtd" placeholder="QTD" [name]="'qtd' + i">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" [(ngModel)]="moto.descricao" placeholder="Descrição" [name]="'descricao' + i">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" [(ngModel)]="moto.preco" placeholder="Preço" [name]="'preco' + i">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" [(ngModel)]="moto.milhagem" placeholder="Milhagem" [name]="'milhagem' + i">
                                </div>
                                <div class="col">
                                    <input type="date" class="form-control" [(ngModel)]="moto.data" placeholder="Data" [name]="'data' + i">
                                </div>
                            </div>
                            <div class="mt-2">
                                <button class="btn btn-success btn-round" type="button" (click)="incluirRegistro(i)">
                                    <i class="fas fa-plus"></i> Incluir Serviço
                                </button>
                            </div>
                            <div class="mt-2" *ngIf="!moto.isCollapsed">
                                <div *ngFor="let registro of moto.registros; let j = index" class="form-row align-items-end mt-2">
                                    <div class="col col-1">
                                        <input type="number" class="form-control" [(ngModel)]="registro.qtd" placeholder="QTD" [name]="'qtd' + i + '-' + j">
                                    </div>
                                    <div class="col col-6">
                                        <input type="text" #descricaoInput class="form-control" [(ngModel)]="registro.descricao" placeholder="Descrição" [name]="'descricao' + i + '-' + j">
                                    </div>
                                    <div class="col col-2">
                                        <input type="text" class="form-control" [(ngModel)]="registro.preco" placeholder="Preço" (keypress)="checkRegistroEnter($event, i, j)" [name]="'preco' + i + '-' + j">
                                    </div>
                                    <div class="col col-2">
                                        <input type="date" class="form-control" [(ngModel)]="registro.data" placeholder="Data" [name]="'data' + i + '-' + j">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-round" type="button" (click)="removerRegistro(i, j)">
                                          <i class="fas fa-trash"></i> 
                                          </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="form-group mt-4">
                <label for="observacao">Observação:</label>
                <textarea class="form-control" id="observacao" rows="3" [(ngModel)]="observacao"></textarea>
            </div>
    
            <div class="form-row align-items-end">
                <div class="col">
                    <select class="form-control" id="pagamentoSelect" [(ngModel)]="pagamentoTipo" (change)="onPagamentoChange($event)">
                        <option>Pagamento à Vista</option>
                        <option>Parcelado</option>
                    </select>
                </div>
                <div class="parcelas-container col" *ngIf="pagamentoTipo === 'Parcelado'">
                    <input type="number" class="form-control" placeholder="Quantidade de Parcelas" [(ngModel)]="quantidadeParcelas">
                </div>
                <div class="col">
                    <input type="date" class="form-control" placeholder="Data da Primeira Parcela" [(ngModel)]="dataPrimeiraParcela">
                </div>
            </div>
    
            <div class="form-row mt-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Valor Total" [(ngModel)]="valorTotal">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Valor Entrada" [(ngModel)]="valorEntrada">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Valor Final" [(ngModel)]="valorFinal">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Último Pagamento" [(ngModel)]="ultimoPagamento">
                </div>
            </div>
    
            <div class="mt-4">
                <button class="btn btn-info" type="button">Imprimir</button>
                <button class="btn btn-warning" type="button">Pagar</button>
            </div>
        </form>


        

    </div>
    <!-- Botão flutuante para incluir moto -->
    <button class="btn btn-primary float-right incluir-moto-btn" (click)="incluirMoto()">
      <i class="fas fa-motorcycle"></i>
    </button>
      
      
    </div>
  </div>
</div>
