/* Estilo do componente listar */
.badge-agendado{
    background-color: #ffc107;
}
.font-white{
  color: white;
}

th {
    position: relative;
  }

th i {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
font-size: 0.8rem;
color: #888;
}

  /* Estilo para a linha da tabela quando o mouse passar por cima */
table tbody tr:hover {
    background-color: #f7f7f7; /* Cor de fundo quando o mouse passa */
    cursor: pointer; /* Cursor em forma de ponteiro */
  }

.table-dark{
  background-color: #0284c7 !important;
}

  table tbody tr:hover td.table-dark,
  table tbody tr:hover th.table-dark {
    background-color: #00699a !important;
    cursor: pointer !important;
}

/* Estilo para o fundo desfocado */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  backdrop-filter: blur(5px); /* Aplica o desfoque */
  z-index: 1040; /* Garante que o overlay fique atrás do modal */
  display: none; /* Inicialmente escondido */
}

/* Quando o modal estiver aberto, a classe "show" será adicionada ao overlay */
.modal-overlay.show {
  display: block;
}

/* Estilizando a estrutura do collapse */
.custom-collapse {
  border-radius: 8px;
  margin: 10px 0;
  overflow: hidden;
  flex: 1; /* Ajusta a largura dos itens proporcionalmente */
  max-width: 48%; /* Limita a largura para caber na mesma linha */
}

.custom-header {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  width: 200px;
}

.custom-header h5 {
  margin: 0;
}

.custom-header:hover {
}

.custom-body {
  padding: 15px;
  position: absolute; /* Permite que o conteúdo "flutue" */
  left: 0; /* Alinhamento inicial */
  width: 100%; /* Ajuste para ocupar a largura necessária */
  z-index: 10; /* Garante que esteja acima de outros elementos */
  display: none; /* Escondido por padrão */
}
.custom-collapse-container {
  display: flex;
  gap: 10px; /* Espaçamento entre os colapsos */
}

.custom-body.show {
  display: block; /* Exibe o conteúdo quando a classe for adicionada */
}

.hidden {
  display: none;
  gap: 10px; /* Espaçamento entre os colapsos */
  position: relative; /* Para servir de referência ao conteúdo absoluto */
}

.custom-header-underline {
  position: relative;
  padding-bottom: 10px; /* Cria um espaço para o sublinhado */
}

.custom-header-underline.active::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Deixa o sublinhado logo abaixo do botão */
  left: 0;
  width: 100%; /* Faz o sublinhado ocupar toda a largura do botão */
  height: 6px; /* Espessura do sublinhado */
  animation: underline-slide 0.3s ease forwards;
}

.underline-primary.active::after{
  background-color: #5e72e4;
}

.underline-alert.active::after{
  background-color: #ffc107;
}

.underline-danger.active::after{
  background-color: #f5365c;
}

.underline-darkblue.active::after{
  background-color: #0284c7; /* Cor do sublinhado */
}

@keyframes underline-slide {
  from {
    width: 0;
  }
  to {
    width: 96%;
  }
}


