<!-- Page content -->
<div class="container-fluid" @fadeIn>
  <div class="row">
    <div class="col">
      <div class="container mt--9 card shadow">
        <div class="container">
          <div class="booking-section">
            <h2>MOT Booking</h2>

            <div class="d-flex justify-content-between">
              <div class="mr-2" style="flex: 1;">
                <label>Data</label>
                <input type="date" value="2025-06-27">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>Inicio</label>
                <input type="time" value="14:30" class="">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>Fim</label>
                <input type="time" value="18:30" class="">
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class=" mr-2" style="flex: 1;">
                <label>Nome</label>
                <input type="text" value="Anthony">
              </div>
              <div class=" mr-2" style="flex: 1;">
                <label>Sobrenome</label>
                <input type="text" value="Vergara">
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class=" mr-2" style="flex: 1;">
                <label>Telefone</label>
                <input type="text" value="07858312007">
              </div>
              <div class=" mr-2" style="flex: 1;">
                <label>Email</label>
                <input type="email" value="trevor@example.com">
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class=" mr-2" style="flex: 1;">
                <label>Placa</label>
                <input type="text" value="LRR21USP" class="">
              </div>
              <div class=" mr-2" style="flex: 1;">
                <label>Marca</label>
                <input type="text" value="Honda" class="">
              </div>
              <div class="" style="flex: 1;">
                <label>Modelo</label>
                <input type="text" value="S100" class="">
              </div>
            </div>

            <label>Bank Account</label>
            <select name="serviceType" class="form-control">
              <option value="" disabled selected>Selecione um banco</option>
              <option value="MOT">BARCLAYS</option>
              <option value="Revisão">REVOLUT</option>
              <option value="Troca de óleo">WISE</option>
            </select>

            <label>Valor</label>
            <input type="text" value="£350.00">

            <button class="book-btn">BOOK</button>
          </div>

          <div class="preview-section">
            <h2>Preview PDF</h2>
            <div class="preview-box">
              <h1 class="text-center">MOT BOOKING</h1>
              <p class="text-center"><strong>Dear Customer, Anthony Vergara - 07858312007.</strong></p>
              <p>Thank you for contact <strong>MOTO HACKNEY MOT STATION</strong>, address 38 Crawley Road - Wood Green, London, N22 6AG.</p>
              <p>Please note the date and time for your vehicle <strong>MOT TEST!</strong></p>
              <p>
                <strong>Make:</strong> BMW
                <br><strong>Model:</strong> S100
                <br><strong>Registration Number:</strong> NRR21 USP
              </p>

              <p>
                <strong>MOT TEST</strong>
                <br><strong>Date:</strong> 23/07/2025
                <br><strong>Time:</strong> 9:40pm TO 11:40pm
              </p>
              <p>Your booking reference is <strong>MTHBMWRIZMU5421062025</strong></p>
              <p>You must contact <strong>MOTO HACKNEY MOT STATION ON 02088884733</strong> two hours before the teste
                for cancellations, otherwise fee of <strong>20%</strong> will be applied.</p>
              <p><strong>Any delay will be your own responsibility!</strong>
                <br><strong>All pre booking must to pay in advance!</strong></p>
              <p><strong>Barclays</strong><br><strong>Account number: 07858213  Sort-code: 23-14-70</strong></p>
              <p>Amount<br><span class="green">£350.00</span></p>
              <p>Thank you for business with us!</p>
              <p><strong>Moto Hackney Limited.</strong></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
