body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #2a7de1, #56aaff);
  padding: 40px;
  color: #333;
}

.container {
  display: flex;
  gap: 40px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.booking-section,
.preview-section {
  flex: 1;
}

.booking-section input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.preview-box {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
}

.preview-box .green {
  color: green;
  font-weight: bold;
}

.modal-bellow-overlay.show {
  display: block;
}
.modal-bellow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  backdrop-filter: blur(5px); /* Aplica o desfoque */
  z-index: 1040; /* Garante que o overlay fique atrás do modal */
  display: none; /* Inicialmente escondido */
}
