<!-- Page content -->
<div class="container-fluid" @fadeIn>
  <div class="row">
    <div class="col">
      <div class="container mt--9 card shadow">
        <div class="container">
          <div class="booking-section">
            <h2>MOT Booking</h2>

            <div class="d-flex justify-content-between">
              <div class="mr-2" style="flex: 1;">
                <label>Date</label>
                <input type="date" [(ngModel)]="booking.date">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>Start Time</label>
                <input type="time" [(ngModel)]="booking.startTime">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>End Time</label>
                <input type="time" [(ngModel)]="booking.endTime">
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class="mr-2" style="flex: 1;">
                <label>Name</label>
                <input type="text" [(ngModel)]="booking.firstName">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>Lastname</label>
                <input type="text" [(ngModel)]="booking.lastName">
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class="mr-2" style="flex: 1;">
                <label>Phone Number</label>
                <input type="text" [(ngModel)]="booking.phone">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>Email</label>
                <input type="email" [(ngModel)]="booking.email">
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class="mr-2" style="flex: 1;">
                <label>Registration Number</label>
                <input type="text" [(ngModel)]="booking.plate">
              </div>
              <div class="mr-2" style="flex: 1;">
                <label>Make</label>
                <input type="text" [(ngModel)]="booking.make">
              </div>
              <div class="" style="flex: 1;">
                <label>Model</label>
                <input type="text" [(ngModel)]="booking.model">
              </div>
            </div>

            <label>Bank Account</label>
            <select [(ngModel)]="booking.bank" class="form-control">
              <option value="" disabled selected>Select a Bank Account</option>
              <option value="BARCLAYS">BARCLAYS</option>
              <option value="REVOLUT">REVOLUT</option>
              <option value="WISE">WISE</option>
            </select>

            <label>Amount</label>
            <input type="text" [(ngModel)]="booking.amount">

            <button class="book-btn">BOOK</button>
          </div>

          <div class="preview-section">
            <h2>Preview PDF</h2>
            <div class="preview-box">
              <h1 class="text-center">MOT BOOKING</h1>
              <p class="text-center">
                <strong>Dear Customer, {{ booking.firstName }} {{ booking.lastName }} - {{ booking.phone }}.</strong>
              </p>
              <p>Thank you for contact <strong>MOTO HACKNEY MOT STATION</strong>, address 38 Crawley Road - Wood Green, London, N22 6AG.</p>
              <p>Please note the date and time for your vehicle <strong>MOT TEST!</strong></p>
              <p>
                <strong>Make:</strong> {{ booking.make }}<br>
                <strong>Model:</strong> {{ booking.model }}<br>
                <strong>Registration Number:</strong> {{ booking.plate }}
              </p>

              <p>
                <strong>MOT TEST</strong><br>
                <strong>Date:</strong> {{ booking.date }}<br>
                <strong>Time:</strong> {{ booking.startTime }} TO {{ booking.endTime }}
              </p>
              <p>Your booking reference is <strong>MTH27029877RIZMU140996</strong></p>
              <p>You must contact <strong>MOTO HACKNEY MOT STATION ON 02088884733</strong> two hours before the test
                for cancellations, otherwise fee of <strong>20%</strong> will be applied.</p>
              <p><strong>Any delay will be your own responsibility!</strong><br><strong>All pre booking must to pay in advance!</strong></p>
              <p><strong>{{ booking.bank }}</strong><br><strong>Amount:</strong><br><span class="green">{{ booking.amount }}</span></p>
              <p>Thank you for business with us!</p>
              <p><strong>Moto Hackney Limited.</strong></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
