<!-- Modal - Cadastro Cliente -->
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" (click)="onBackgroundClick($event)" @fadeIn>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h1>CADASTRO DE CLIENTE</h1>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
        <div class="row">
          <!-- Sidebar com a imagem de perfil e botão -->
          <div class="col-md-4 d-flex flex-column align-items-center border-right">
            <!-- Imagem de Perfil -->
            <div class="text-center mb-0">
              <img 
                src="assets/img/theme/urso-profile.avif" 
                alt="Imagem de Perfil" 
                class="img-fluid rounded-circle" 
                style="max-width: 180px;">
            </div>
            <!-- Botão para mudar imagem -->
              <div class="d-flex justify-content-center">
                <a href="javascript:void(0)" class="btn btn-md btn-info">Imagem perfil</a>
              </div>
          </div>

          <!-- Coluna dos campos de formulário -->
          <div class="col-md-8">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col-md-8 mb-2">
                  <label>Nome do Cliente</label>
                  <input type="text" class="form-control" placeholder="Nome do Cliente" [(ngModel)]="newCliente.nome" name="nome">
                </div>
                <div class="col-md-4 mb-2">
                  <label>Data de Nascimento</label>
                  <input type="text" class="form-control" placeholder="Status" [(ngModel)]="newCliente.dataNascimento" name="dataNascimento">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-2">
                  <label>E-mail</label>
                  <input type="text" class="form-control" placeholder="teste@gmail.com" [(ngModel)]="newCliente.email" name="email">
                </div>
                <div class="col-md-3 mb-2">
                  <label>Telefone 1</label>
                  <input type="text" class="form-control" placeholder="07858312007" [(ngModel)]="newCliente.telefone[0].numero" name="telefone1">
                </div>
                <div class="col-md-3 mb-2">
                  <label>Telefone 2</label>
                  <input type="text" class="form-control" placeholder="07858312007" [(ngModel)]="newCliente.telefone[0].numero" name="telefone2">
                </div>
              </div>
              <h2 class="mt-4 mb-4">ENDEREÇO</h2>
              <div class="form-row">
                <div class="col-md-6 mb-2">
                  <label>Rua</label>
                  <input type="text" class="form-control" placeholder="teste@gmail.com" [(ngModel)]="newCliente.endereco[0].rua" name="rua">
                </div>
                <div class="col-md-3 mb-2">
                  <label>Número</label>
                  <input type="text" class="form-control" placeholder="07858312007" [(ngModel)]="newCliente.endereco[0].numero" name="numero">
                </div>
                <div class="col-md-3 mb-2">
                  <label>Postcode</label>
                  <input type="text" class="form-control" placeholder="07858312007" [(ngModel)]="newCliente.endereco[0].postcode" name="postcode">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-3 mb-2">
                  <label>Cidade</label>
                  <input type="text" class="form-control" placeholder="teste@gmail.com" [(ngModel)]="newCliente.endereco[0].cidade" name="cidade">
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Rodapé do modal com os botões -->
        <div class="modal-footer">
          <div class="ml-auto d-flex flex-column align-items-end">
            <div class="d-flex">
              <button type="submit" class="btn btn-success" (click)="submitForm(form)" >Salvar</button>
              <button type="button" class="btn btn-secondary ml-2" (click)="closeModal()">Fechar</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
