.bg-agendado {
    background-color: rgb(255, 193, 7);
}

.bg-border-pago{
border-color: #2dce89;
  color: green;
}
.bg-border-agendado{
border-color: rgb(255, 193, 7);
  color: rgb(255, 193, 7);
}
.bg-border-atrasado{
border-color: #f5365c;
  color: red;
}
.block-cursor{
    cursor: not-allowed;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-bellow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    backdrop-filter: blur(5px); /* Aplica o desfoque */
    z-index: 1040; /* Garante que o overlay fique atrás do modal */
    display: none; /* Inicialmente escondido */
  }

  /* Quando o modal estiver aberto, a classe "show" será adicionada ao overlay */
  .modal-bellow-overlay.show {
    display: block;
  }

input:disabled, input[readonly] {
  background: rgb(255, 255, 255) !important;
  cursor: not-allowed !important;
}
