.bg-agendado {
    background-color: rgb(255, 193, 7);
}

.bg-border-pago{
border-color: #2dce89;
}
.bg-border-agendado{
border-color: rgb(255, 193, 7);
}
.bg-border-atrasado{
border-color: #f5365c;
}
.block-cursor{
    cursor: not-allowed;
}

.modal-bellow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    backdrop-filter: blur(5px); /* Aplica o desfoque */
    z-index: 1040; /* Garante que o overlay fique atrás do modal */
    display: none; /* Inicialmente escondido */
  }
  
  /* Quando o modal estiver aberto, a classe "show" será adicionada ao overlay */
  .modal-bellow-overlay.show {
    display: block;
  }