.bg-agendado {
    background-color: rgb(255, 193, 7);
}

.bg-border-pago{
border-color: #2dce89;
}
.bg-border-agendado{
border-color: rgb(255, 193, 7);
}
.bg-border-atrasado{
border-color: #f5365c;
}
.block-cursor{
    cursor: not-allowed;
}