.bg-agendado {
    background-color: rgb(255, 193, 7);
}

.bg-border-pago{
border-color: #2dce89;
  color: green;
}
.bg-border-agendado{
border-color: rgb(255, 193, 7);
  color: rgb(255, 193, 7);
}
.bg-border-atrasado{
border-color: #f5365c;
  color: red;
}
.block-cursor{
    cursor: not-allowed;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-bellow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    backdrop-filter: blur(5px); /* Aplica o desfoque */
    z-index: 1040; /* Garante que o overlay fique atrás do modal */
    display: none; /* Inicialmente escondido */
  }

  /* Quando o modal estiver aberto, a classe "show" será adicionada ao overlay */
  .modal-bellow-overlay.show {
    display: block;
  }

input:disabled, input[readonly] {
  background: rgb(255, 255, 255) !important;
  cursor: not-allowed !important;
}

@media (max-width: 576px) {
  .valor-devedor, .valor-total, .valor-pago {
    font-size: 1rem !important; /* ou um tamanho menor que 1.2rem */
  }
}

.percent-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 120px;
}

.percent-wrapper input {
  width: 100%;
  padding-right: 20px; /* espaço para o ícone */
  box-sizing: border-box;
}

.percent-icon {
  position: absolute;
  right: 8px;
  top: 70%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #959494;
  font-weight: bold;
}

.modal-dialog.modal-xl {
  margin-top: 20px;
  max-width: 95vw; /* largura maior que a padrão */
  width: 95vw;     /* largura responsiva */
  height: 100vh;    /* altura máxima */
  max-height: 120vw;
}

.floating-values {
  position: fixed;
  top: 20%;
  right: -80px;
  width: 200px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaço entre os cartões */
}

@media (max-width: 768px) {
  .floating-values {
    display: none !important; /* Oculta os cartões flutuantes em telas menores */
  }
}

@media (min-width: 769px) {
  .modal-footer-values {
    display: none !important; /* Oculta o footer do modal em telas grandes */
  }
}

form input {
  text-transform: uppercase;
}

@media print {
  table, th, td {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

.card h5 {
  font-size: 0.9rem;
}

.card span {
  font-size: 0.95rem;
}

@media (max-width: 767.98px) {
  .custom-mobile-height {
    height: 95vh; /* quase toda a tela do mobile */
    margin: 0 auto;
  }

  .custom-mobile-height .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .custom-mobile-height .modal-body {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .custom-mobile-height .modal-footer {
    flex-shrink: 0;
  }

  .custom-mobile-height .modal-header {
    flex-shrink: 0;
  }
}

@media (max-width: 576px) { /* mobile */
  .placa-text, .total-text {
    font-size: 14px; /* ou qualquer tamanho menor que preferir */
  }
}

