
<div *ngIf="showSuccessAlert" id="successAlert" class="alert alert-success alert-dismissible fade show text-center" role="alert" @fadeIn>
  <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
  <span class="alert-inner--text" style="font-size: 17px;"><strong> Perfeito!</strong> {{messageAlert}}</span>
</div>
<div *ngIf="showDangerAlert" id="dangerAlert" class="alert alert-danger alert-dismissible fade show text-center" role="alert" @fadeIn>
  <span class="alert-inner--icon"><i class="fa fa-thumbs-down"></i></span>
  <span class="alert-inner--text" style="font-size: 17px;"><strong> Ops!</strong> Não foi possivel criar a ordem de serviço!</span>
</div>
<div class="row">
    <div class="col">
      <div class="container mt-4 card shadow">
          <div class="card-header border-0">
              <h1 class="mb-0 ml--4">CRIAR ORDEM DE SERVIÇO</h1>
          </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-row align-items-end">
                <div class="col-12 col-md-2 mb-2 input-group">
                  <div _ngcontent-c8="" class="input-group-prepend">
                    <span _ngcontent-c8="" class="input-group-text">
                      <i class="fas fa-file-alt"></i>
                    </span>
                  </div>

                    <input disabled type="text" class="form-control text-center" placeholder="N.Invoice" [(ngModel)]="nInvoice" name="nInvoice">
                </div>
                <!-- seu-componente.component.html -->
                <div class="col-12 col-md-6 mb-2 input-group" >
                  <input
                    type="text"
                    appUppercase
                    class="form-control border-style input-nome-cliente"
                    [ngClass]="nomeCliente.length > 0 && findSugestao == true ? 'is-valid' : 'is-invalid'"
                    placeholder="Nome do Cliente"
                    [(ngModel)]="nomeCliente"
                    name="nomeCliente"
                    (ngModelChange)="onNomeClienteChange()" />
                  <div _ngcontent-c8="" *ngIf="nomeCliente.length > 1 && sugestoes.length == 0 && findSugestao == false" class="input-group-prepend">
                      <span _ngcontent-c8="" style="cursor: pointer;"
                            class="input-group-text pulse-effect"
                            (click)="createClient()">
                        <i class="ni ni-single-02"></i>
                      </span>
                  </div>
                </div>

                <!-- Exibição das sugestões -->


                <div class="col-12 col-md-2 mb-2 percent-wrapper">
                    <input maxlength="2" type="text" class="form-control border-style"
                           placeholder="VAT"
                           [(ngModel)]="vat" name="vat"
                           (ngModelChange)="onVatChange()"/>
                    <span class="percent-icon">%</span>
                </div>
                <!--
                <div class="col">
                    <input type="text" class="form-control" placeholder="Status" [(ngModel)]="status">
                </div>
                -->
            </div>
            <div *ngIf="sugestoes.length > 0" class="sugestoes">
              <ul class="list-group">
                <li *ngFor="let sugestao of sugestoes" class="list-group-item"
                    (click)="selecionarSugestao(sugestao)">
                  {{ sugestao.nome }}
                </li>
              </ul>
            </div>

            <div class="form-row align-items-end mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-round bg-darkblue" type="button" (click)="incluirMoto()">
                        <i class="fas fa-motorcycle"></i> Adicionar Moto
                    </button>
                </div>
            </div>

            <div id="collapseMenu" class="mt-3">
                <div *ngFor="let moto of motos; let i = index" @fadeBox>
                    <div class="card mt-2" [attr.id]="'moto' + moto.id" style="background-color: #f4f5f7;">
                        <div class="card-header d-flex justify-content-between align-items-center bg-gradient-darkblue" style="height: 60px;">
                          <button class="btn btn-secondary" type="button" (click)="moto.isCollapsed = !moto.isCollapsed">
                            <i class="fas" [ngClass]="moto.isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                          </button>
                          <span *ngIf="moto.isCollapsed" class="ml-0">
                              <h3 style="color: white;">PLACA: {{ moto.placa | uppercase }}</h3> <!-- Formato monetário -->
                          </span>
                          <span *ngIf="moto.isCollapsed" class="ml-auto" style="margin-right: 30px;">
                            <h3 style="color: white;">TOTAL: {{ calcularSoma(moto) | currency:'GBP':'symbol':'1.2-2' }}</h3> <!-- Formato monetário -->
                          </span>
                          <!-- [ngClass]="i % 2 === 0 ? 'bg-default' : 'bg-info'" -->
                             <!-- <span>Nova Moto {{ moto.id }</span>}-->


                            <button class="btn btn-secondary" type="button" (click)="removerMoto(i)">
                              <i class="fas fa-trash"></i>
                            </button>

                        </div>
                        <div class="card-body" [ngClass]="{'collapse': moto.isCollapsed}">
                            <div class="form-row align-items-end">
                                <div class="col-12 col-md-2 mb-2">
                                    <button class="btn btn-darkblue text-nowrap btn-round" type="button" (click)="incluirRegistro(i)" placement="top" ngbTooltip="Incluir Serviço">
                                        <i class="">Adicionar Serviço</i>
                                    </button>
                                </div>
                                <div class="col-12 col-md-2 mb-2" [ngClass]="moto.placa.length == 0 ? '' : 'has-success' ">
                                  <label>Placa</label>
                                  <input type="text" appUppercase class="form-control" [(ngModel)]="moto.placa" [ngClass]="moto.placa.length == 0 ? 'is-invalid' : 'is-valid' " placeholder="Placa" (keypress)="checkRegistroEnter($event, i, null)" [name]="'placa' + i">
                                </div>
                                <!--
                                <div class="col col-1">
                                    <input type="number" class="form-control" [(ngModel)]="moto.qtd" placeholder="QTD" [name]="'qtd' + i">
                                </div>-->
                                <div class="col-12 col-md-3 mb-2">
                                  <label>Motorista</label>
                                  <input type="text" appUppercase class="form-control" [(ngModel)]="moto.nomeMotorista" placeholder="Nome Motorista" (keypress)="checkRegistroEnter($event, i, null)" [name]="'nomeMotorista' + i">
                                </div>
                                <!--
                                <div class="col col-2">
                                    <input type="text" class="form-control" [(ngModel)]="moto.preco" placeholder="Preço" [name]="'preco' + i">
                                </div>-->

                                <div class="col-12 col-md-3 mb-2">
                                  <label>Observação</label>
                                  <input type="text" appUppercase class="form-control" [(ngModel)]="moto.observacao" placeholder="Observação" (keypress)="checkRegistroEnter($event, i, null)" [name]="'observacao' + i">
                                </div>

                                <div class="col-12 col-md-2 mb-2 input-group">
                                  <label>Data Ordem Serviço</label>
                                    <div _ngcontent-c8="" class="input-group-prepend">
                                        <span _ngcontent-c8="" class="input-group-text">
                                          <i class="ni ni-calendar-grid-58"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-center bg-darkblue"
                                           [name]="'data' + i" [value]="dataAtualBR" readonly style="color: #f4f5f7; font-style: bold;">
                                </div>
                            </div>

                            <!-- <div class="mt-2 d-flex align-items-center justify-content-between border border-white px-3" style="border: 1px;border-color: white;">
                              <div>
                                <h3 class="ml--3 text-default border-bottom border-dark p-2 m-0">SERVIÇOS EFETUADOS</h3>
                              </div>
                              <div>
                                <button class="btn btn-success btn-round" type="button" (click)="incluirRegistro(i)">
                                  <i class="fas fa-plus"></i> Adicionar serviço
                                </button>
                              </div>
                            </div> -->


                            <div class="mt-2" *ngIf="!moto.isCollapsed">
                                <div *ngFor="let registro of moto.registros; let j = index" class="form-row align-items-end mt-2" @fadeBox>
                                    <div class="col-12 col-md-1 mb-2">
                                        <input type="number" class="form-control" [(ngModel)]="registro.qtd" placeholder="QTD" [name]="'qtd' + i + '-' + j">
                                    </div>
                                    <div class="col-12 col-md-6 mb-2">
                                        <input type="text" appUppercase #descricaoInput class="form-control" [ngClass]="registro.descricao.length == 0 ? 'is-invalid' : 'is-valid' " [(ngModel)]="registro.descricao" placeholder="Descrição" [name]="'descricao' + i + '-' + j">
                                    </div>
                                    <div class="col-12 col-md-2 mb-2"> <!-- [ngClass]=" <= 0 ? 'has-danger' : 'has-success' " -->
                                        <input required type="text"
                                               [ngClass]="registro.preco <= 0 ? 'is-invalid' : 'is-valid' " class="form-control"
                                               [(ngModel)]="registro.preco"
                                               (input)="onPrecoInput($event, i, j)"
                                               (blur)="onPrecoBlur(i, j)"
                                               (ngModelChange)="onPrecoChange()"
                                               placeholder="Preço"
                                               (keypress)="checkRegistroEnter($event, i, j)"
                                               [name]="'preco' + i + '-' + j">
                                    </div>
                                    <div class="col-12 col-md-2 mb-2">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="registro.milhagem" placeholder="Milhagem"
                                               (ngModelChange)="onMilhasInput($event, i, j)"
                                               (blur)="onMilhasBlur(i, j)"
                                               (keypress)="checkRegistroEnter($event, i, j)"
                                               [name]="'milhagem' + i + '-' + j">
                                    </div>
                                    <!--
                                    <div class="col col-2">
                                        <input type="date" class="form-control" [(ngModel)]="registro.data" placeholder="Data" [name]="'data' + i + '-' + j">
                                    </div>-->
                                    <div class="col-12 col-md-1 mb-2">
                                        <button class="btn btn-danger btn-round" type="button" (click)="removerRegistro(i, j)">
                                          <i class="fas fa-trash"></i>
                                          </button>
                                    </div>
                                </div>
                                <span *ngIf="!moto.isCollapsed" class="ml-4 d-block">
                                    <h3 id="">TOTAL: {{ calcularSoma(moto) | currency:'GBP':'symbol':'1.2-2' }}</h3> <!-- Formato monetário -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="observacao">Observação:</label>
                <textarea class="form-control border-style" id="observacao" rows="3" [(ngModel)]="observacao" [ngModelOptions]="{standalone: true}"></textarea>
            </div>

            <div class="form-row align-items-end">
                <div class="col-12 col-md-3">
                    <label for="observacao">Forma de Pagamento</label>
                    <select class="form-control border-style" id="pagamentoSelect" (change)="onPagamentoChange($event.target.value)">
                        <option value="Pagamento à Vista">Pagamento à Vista</option>
                        <option value="Pagamento Parcelado">Pagamento Parcelado</option>
                    </select>
                </div>
                <div class="col-12 col-md-3" *ngIf="pagamentoTipo === 'Pagamento Parcelado'" @fadeBox>
                  <label for="valorEntrada">Valor de Entrada</label>
                  <input type="number" class="form-control border-style" value="0" placeholder="Valor Entrada" [(ngModel)]="valorEntrada" (input)="onValorEntradaChange()">
                </div>
                <div class="parcelas-container col-12 col-md-3" *ngIf="pagamentoTipo === 'Pagamento Parcelado'" @fadeBox>
                  <label for="quantidadeParcelas">Parcelas</label>
                  <select
                    class="form-control border-style"
                    id="quantidadeParcelas"
                    [(ngModel)]="quantidadeParcelas"
                    *ngIf="pagamentoTipo === 'Pagamento Parcelado'"
                    (change)="onQuantidadeParcelasChange()">
                    <option *ngFor="let parcela of parcelas; let i = index" [value]="i + 1">
                      {{i + 1}} Parcelas - {{(this.valorTotalGeral - this.valorEntrada) / (i + 1) | currency:'GBP':'symbol':'1.2-2'}}
                    </option>
                  </select>
                </div>
                <div class="col-12 col-md-3" *ngIf="pagamentoTipo === 'Pagamento Parcelado'" @fadeBox>
                    <label for="observacao">Perido entre Pagamentos</label>
                    <select class="form-control border-style" id="pagamentoPeriodoSelect"
                      [(ngModel)]="periodoPagamento" *ngIf="pagamentoTipo === 'Pagamento Parcelado'"
                      (change)="onPeriodoPagamentoChange($event.target.value)">
                      <option value="SEMANAL">Pagamento Semanal</option>
                      <option value="MENSAL">Pagamento Mensal</option>
                    </select>
                </div>

            </div>

            <div class="form-row mt-3 mb-4 d-flex align-items-end justify-content-between">
              <!-- Card Valor Total -->
              <div class="col-auto">
                <div style="width: 14rem;">
                  <div class="card card-stats bg-success mb-4 mb-lg-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase mb-0" style="color: white; font-style: bold;">VALOR TOTAL</h5>
                          <span class="h2 font-weight-bold mb-0" style="color: white; font-style: bold;">
                            {{ valorTotalGeral | currency:'GBP':'symbol':'1.2-2' }}
                          </span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-secondary rounded-circle shadow">
                            <i class="fa fa-calculator"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Card Valor Devido -->
              <div class="col-12 col-md-auto" *ngIf="valorEntrada !== null && valorEntrada !== undefined && valorEntrada > 0 && valorTotalGeral > 0" @fadeIn>
                <div style="width: 14rem;">
                  <div class="card card-stats bg-info mb-4 mb-lg-0" placement="bottom" ngbTooltip="(Valor Total) subtraído pelo (Valor de Entrada)">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase mb-0" style="color: white; font-style: bold;">VALOR DEVIDO</h5>
                          <span class="h2 font-weight-bold mb-0" style="color: white; font-style: bold;">
                            {{ atualizarValorFinal() | currency:'GBP':true }}
                          </span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-secondary rounded-circle shadow">
                            £
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Botões Criar Ordem e Imprimir alinhados à direita -->
              <div class="col-auto ml-auto d-flex align-items-center">
                <button class="btn btn-darkblue" type="button" (click)="submitForm(form)">
                  <i class="ni ni-check-bold"></i>&nbsp;&nbsp;CRIAR ORDEM
                </button>
                <button hidden class="btn btn-danger ml-2" type="button">
                  <i class="fa fa-print" style="font-size:20px"></i>
                </button>
              </div>
            </div>
        </form>




    </div>
    <!-- Botão flutuante para incluir moto -->
    <button class="btn btn-primary float-right incluir-moto-btn" (click)="incluirMoto()">
      <i class="fas fa-motorcycle"></i>
    </button>

    <div id="modal-overlay" class="modal-overlay"></div>
    <modal-criar-cliente
      *ngIf="isModalClientOpen"
      [nomeInicial]="modalNomeCliente"
      (clienteCriado)="onClienteCriado($event.nome, $event.clienteNovo)"
      (close)="closeModalClient()">
    </modal-criar-cliente>

    </div>
  </div>
