
<div *ngIf="showSuccessAlert" id="successAlert" class="alert alert-success alert-dismissible fade show text-center" role="alert" @fadeIn>
  <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
  <span class="alert-inner--text" style="font-size: 17px;"><strong> Perfeito!</strong> {{messageAlert}}</span>
</div>
<div *ngIf="showDangerAlert" id="dangerAlert" class="alert alert-danger alert-dismissible fade show text-center" role="alert" @fadeIn>
  <span class="alert-inner--icon"><i class="fa fa-thumbs-down"></i></span>
  <span class="alert-inner--text" style="font-size: 17px;"><strong> Ops!</strong> Não foi possivel criar a ordem de serviço!</span>
</div>
<div class="row">
    <div class="col-lg-9 col-md-8 col-12">
      <div class="container card shadow">
          <div class="card-header border-0">
              <h1 class="mb-0 ml--4">GENERATE SERVICE ORDER</h1>
          </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-row align-items-end card-shadow p-3 rounded-lg bg-white">

            <!-- N. Invoice -->
            <div class="col-12 col-md-2 mb-3 input-group">
              <div class="input-group-prepend">
      <span class="input-group-text bg-light border-right-0">
        <i class="fas fa-file-alt text-darkblue"></i>
      </span>
              </div>
              <input disabled type="text"
                     class="form-control text-center border-left-0 border-style"
                     placeholder="N.Invoice"
                     [(ngModel)]="nInvoice" name="nInvoice">
            </div>

            <!-- Nome Cliente com sugestão -->
            <div class="col-12 col-md-6 mb-3 position-relative">
              <label class="font-weight-bold d-flex align-items-center">
                <i class="ni ni-circle-08 mr-2 text-darkblue"></i> Customer Name
              </label>

              <div class="input-group">
                <input type="text"
                       appUppercase
                       class="form-control border-style input-nome-cliente"
                       [ngClass]="nomeCliente.length > 0 && findSugestao == true ? 'is-valid' : 'is-invalid'"
                       placeholder="Customer Name"
                       [(ngModel)]="nomeCliente"
                       name="nomeCliente"
                       (ngModelChange)="onNomeClienteChange()" />

                <!-- Ícone de adicionar cliente -->
                <div *ngIf="nomeCliente.length > 1 && sugestoes.length == 0 && findSugestao == false"
                     class="input-group-append">
      <span class="input-group-text bg-danger text-white pulse-effect"
            style="cursor: pointer;"
            (click)="createClient()">
        <i class="ni ni-single-02"></i>
      </span>
                </div>
              </div>
            </div>


            <!-- VAT % -->
            <div class="col-12 col-md-2 mb-3 percent-wrapper position-relative">
              <label class="font-weight-bold">VAT Number</label>
              <input maxlength="2"
                     type="text"
                     class="form-control border-style pr-4"
                     placeholder="VAT"
                     [(ngModel)]="vat"
                     name="vat"
                     (ngModelChange)="onVatChange()" />
              <span class="percent-icon">%</span>
            </div>

            <div class="col-12 col-md-2 mb-3 percent-wrapper position-relative">
              <label class="font-weight-bold">Date</label>
              <input type="text" class="form-control text-center bg-white"
                     [name]="'dataview'" [value]="dataAtualBR" readonly>
            </div>

          </div>

          <!-- Sugestões de nome -->
          <div *ngIf="sugestoes.length > 0" class="sugestoes mt-1">
            <ul class="list-group">
              <li *ngFor="let sugestao of sugestoes"
                  class="list-group-item list-group-item-action"
                  (click)="selecionarSugestao(sugestao)">
                {{ sugestao.nome }}
              </li>
            </ul>
          </div>


          <div class="form-row align-items-end mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-round bg-darkblue" type="button" (click)="incluirMoto()">
                        <i class="fas fa-motorcycle"></i> Add Motorcycle
                    </button>
                </div>
            </div>

            <div id="collapseMenu" class="mt-3">
                <div *ngFor="let moto of motos; let i = index" @fadeBox>
                    <div class="card mt-2" [attr.id]="'moto' + moto.id" style="background-color: #f4f5f7;">
                        <div class="card-header d-flex justify-content-between align-items-center" style="height: 60px; background-color: #2a7de1;">
                          <button class="btn btn-secondary btn-sm" type="button" (click)="moto.isCollapsed = !moto.isCollapsed">
                            <i class="fas" [ngClass]="moto.isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
                          </button>
                          <span *ngIf="moto.isCollapsed" class="ml-0">
                              <h3 style="color: white;">PLATE: {{ moto.placa | uppercase }}</h3> <!-- Formato monetário -->
                          </span>
                          <span *ngIf="moto.isCollapsed" class="ml-auto" style="margin-right: 30px;">
                            <h3 style="color: white;">AMOUNT: {{ calcularSoma(moto) | currency:'GBP':'symbol':'1.2-2' }}</h3> <!-- Formato monetário -->
                          </span>
                          <!-- [ngClass]="i % 2 === 0 ? 'bg-default' : 'bg-info'" -->
                             <!-- <span>Nova Moto {{ moto.id }</span>}-->


                            <button class="btn btn-secondary btn-sm" type="button" (click)="removerMoto(i)">
                              <i class="fas fa-trash"></i>
                            </button>

                        </div>
                        <div class="card-body" [ngClass]="{'collapse': moto.isCollapsed}">
                            <div class="form-row align-items-end">
                                <div class="col-12 col-md-3 mb-2">
                                    <button class="btn btn-darkblue text-nowrap btn-round w-100" type="button" (click)="incluirRegistro(i)" placement="top" ngbTooltip="" style="font-size: 14px; font-family: inherit">
                                        <i class="" style="font-style: normal !important;">Add Service</i>
                                    </button>
                                </div>
                                <div class="col-12 col-md-2 mb-2" [ngClass]="moto.placa.length == 0 ? '' : 'has-success' ">
                                  <label>Plate</label>
                                  <input type="text" appUppercase class="form-control" [(ngModel)]="moto.placa" [ngClass]="moto.placa.length == 0 ? 'is-invalid' : 'is-valid' " placeholder="Plate" (keypress)="checkRegistroEnter($event, i, null)" [name]="'placa' + i">
                                </div>
                                <!--
                                <div class="col col-1">
                                    <input type="number" class="form-control" [(ngModel)]="moto.qtd" placeholder="QTD" [name]="'qtd' + i">
                                </div>-->
                                <div class="col-12 col-md-4 mb-2">
                                  <label>Driver Name</label>
                                  <input type="text" appUppercase class="form-control" [(ngModel)]="moto.nomeMotorista" placeholder="Driver Name" (keypress)="checkRegistroEnter($event, i, null)" [name]="'nomeMotorista' + i">
                                </div>
                                <!--
                                <div class="col col-2">
                                    <input type="text" class="form-control" [(ngModel)]="moto.preco" placeholder="Preço" [name]="'preco' + i">
                                </div>-->

                                <div class="col-12 col-md-3 mb-2">
                                  <label>General Notes</label>
                                  <input type="text" appUppercase class="form-control" [(ngModel)]="moto.observacao" placeholder="General Notes" (keypress)="checkRegistroEnter($event, i, null)" [name]="'observacao' + i">
                                </div>

                                <div class="col-12 col-md-2 mb-2 input-group" hidden="">
                                  <label>Service Order Date</label>
                                    <div _ngcontent-c8="" class="input-group-prepend">
                                        <span _ngcontent-c8="" class="input-group-text">
                                          <i class="ni ni-calendar-grid-58"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-center bg-darkblue"
                                           [name]="'data' + i" [value]="dataAtualBR" readonly style="color: #f4f5f7; font-style: bold;">
                                </div>
                            </div>

                            <!-- <div class="mt-2 d-flex align-items-center justify-content-between border border-white px-3" style="border: 1px;border-color: white;">
                              <div>
                                <h3 class="ml--3 text-default border-bottom border-dark p-2 m-0">SERVIÇOS EFETUADOS</h3>
                              </div>
                              <div>
                                <button class="btn btn-success btn-round" type="button" (click)="incluirRegistro(i)">
                                  <i class="fas fa-plus"></i> Adicionar serviço
                                </button>
                              </div>
                            </div> -->


                            <div class="mt-2" *ngIf="!moto.isCollapsed">
                                <div *ngFor="let registro of moto.registros; let j = index" class="form-row align-items-end mt-2" @fadeBox>
                                    <div class="col-12 col-md-1 mb-2">
                                        <input type="number" class="form-control" [(ngModel)]="registro.qtd" placeholder="QTY" [name]="'qtd' + i + '-' + j">
                                    </div>
                                    <div class="col-12 col-md-6 mb-2">
                                        <input type="text" appUppercase #descricaoInput class="form-control" [ngClass]="registro.descricao.length == 0 ? 'is-invalid' : 'is-valid' " [(ngModel)]="registro.descricao" placeholder="Service Description" [name]="'descricao' + i + '-' + j">
                                    </div>
                                    <div class="col-12 col-md-2 mb-2"> <!-- [ngClass]=" <= 0 ? 'has-danger' : 'has-success' " -->
                                        <input required type="text"
                                               [ngClass]="registro.preco <= 0 ? 'is-invalid' : 'is-valid' " class="form-control"
                                               [(ngModel)]="registro.preco"
                                               (input)="onPrecoInput($event, i, j)"
                                               (blur)="onPrecoBlur(i, j)"
                                               (ngModelChange)="onPrecoChange()"
                                               placeholder="Price"
                                               (keypress)="checkRegistroEnter($event, i, j)"
                                               [name]="'preco' + i + '-' + j">
                                    </div>
                                    <div class="col-12 col-md-2 mb-2">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="registro.milhagem" placeholder="Mileage"
                                               (ngModelChange)="onMilhasInput($event, i, j)"
                                               (blur)="onMilhasBlur(i, j)"
                                               (keypress)="checkRegistroEnter($event, i, j)"
                                               [name]="'milhagem' + i + '-' + j">
                                    </div>
                                    <!--
                                    <div class="col col-2">
                                        <input type="date" class="form-control" [(ngModel)]="registro.data" placeholder="Data" [name]="'data' + i + '-' + j">
                                    </div>-->
                                    <div class="col-12 col-md-1 mb-2">
                                        <button class="btn btn-danger btn-round" type="button" (click)="removerRegistro(i, j)">
                                          <i class="fas fa-trash"></i>
                                          </button>
                                    </div>
                                </div>
                                <span *ngIf="!moto.isCollapsed" class="ml-4 d-block">
                                    <h3 id="">Amount: {{ calcularSoma(moto) | currency:'GBP':'symbol':'1.2-2' }}</h3> <!-- Formato monetário -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="observacao">Service Description:</label>
                <textarea class="form-control border-style" id="observacao" rows="3" [(ngModel)]="observacao" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
        </form>




    </div>
    <!-- Botão flutuante para incluir moto -->
    <!--<button class="btn btn-primary float-right incluir-moto-btn" (click)="incluirMoto()">
      <i class="fas fa-motorcycle"></i>
    </button>-->

    <div id="modal-overlay" class="modal-overlay"></div>
    <modal-criar-cliente
      *ngIf="isModalClientOpen"
      [nomeInicial]="modalNomeCliente"
      (clienteCriado)="onClienteCriado($event.nome, $event.clienteNovo)"
      (close)="closeModalClient()">
    </modal-criar-cliente>

    </div>
  <!-- RESUMO FINANCEIRO -->
  <div class="col-lg-3 col-md-4 col-12">
    <div class="card p-3 shadow-lg" style="border-radius: 12px;">
      <h5 class="mb-3 text-muted font-weight-bold">FINANCIAL SUMMARY</h5>

      <!-- Total -->
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <i class="fas fa-check-circle text-success mr-2"></i>
          <span>Total Amount</span>
        </div>
        <span class="text-success font-weight-bold">
                  {{ valorTotalGeral | currency:'GBP':'symbol':'1.2-2' }}
                </span>
      </div>

      <!-- Pago -->
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <i class="fas fa-credit-card text-primary mr-2"></i>
          <span>Paid</span>
        </div>
        <span class="text-primary font-weight-bold">
                  {{ valorEntrada | currency:'GBP':'symbol':'1.2-2' }}
                </span>
      </div>

      <!-- Devido -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fas fa-times-circle text-danger mr-2"></i>
          <span>Amount Due</span>
        </div>
        <span [ngClass]="atualizarValorFinal() > 0 ? 'text-danger' : 'text-success'" class="font-weight-bold">
                  {{ atualizarValorFinal() | currency:'GBP':true }}
                </span>
      </div>
    </div>


    <!-- DETALHES DE PAGAMENTO -->
    <div class="card p-3 shadow-lg mt-3" style="border-radius: 12px;">
      <h5 class="mb-3 text-muted font-weight-bold">PAYMENT DETAILS</h5>

      <!-- Forma de Pagamento -->
      <div class="mb-3">
        <div class="d-flex align-items-center mb-1">
          <i class="fas fa-money-bill-wave text-darkblue mr-2"></i>
          <span class="text-dark">Payment Method</span>
        </div>
        <div class="form-control bg-light p-2">
          <select class="pagamento-inner-select"
                  id="pagamentoSelect"
                  (change)="onPagamentoChange($event.target.value)">
            <option value="Pagamento à Vista">Full Payment</option>
            <option value="Pagamento Parcelado">Instalment Payment</option>
          </select>
        </div>
      </div>

      <!-- Valor de Entrada -->
      <div class="mb-3" *ngIf="pagamentoTipo === 'Pagamento Parcelado'" @fadeBox>
        <div class="d-flex align-items-center mb-1">
          <i class="fas fa-money-bill-wave text-darkblue mr-2"></i>
          <span class="text-dark">Initial Payment</span>
        </div>
        <div class="form-control bg-light p-2">
          <input type="number"
                 class="pagamento-inner-input"
                 placeholder="Valor Entrada"
                 [(ngModel)]="valorEntrada"
                 (input)="onValorEntradaChange()" />
        </div>
      </div>

      <!-- Período entre Pagamentos -->
      <div class="mb-3" *ngIf="pagamentoTipo === 'Pagamento Parcelado'" @fadeBox>
        <div class="d-flex align-items-center mb-1">
          <i class="fas fa-calendar-alt text-darkblue mr-2"></i>
          <span class="text-dark">Interval Between Payments</span>
        </div>
        <div class="form-control bg-light p-2">
          <select class="pagamento-inner-select"
                  id="pagamentoPeriodoSelect"
                  [(ngModel)]="periodoPagamento"
                  (change)="onPeriodoPagamentoChange($event.target.value)">
            <option value="SEMANAL">Weekly Payment</option>
            <option value="MENSAL">Monthly Payment</option>
          </select>
        </div>
      </div>

      <!-- Parcelas -->
      <div *ngIf="pagamentoTipo === 'Pagamento Parcelado'" @fadeBox>
        <div class="d-flex align-items-center mb-1">
          <i class="fas fa-list-ol text-darkblue mr-2"></i>
          <span class="text-dark">Instalments</span>
        </div>
        <div class="form-control bg-light p-2">
          <select class="pagamento-inner-select"
                  id="quantidadeParcelas"
                  [(ngModel)]="quantidadeParcelas"
                  (change)="onQuantidadeParcelasChange()">
            <option *ngFor="let parcela of parcelas; let i = index" [value]="i + 1">
              {{i + 1}} Instalments - {{(valorTotalGeral - valorEntrada) / (i + 1) | currency:'GBP':'symbol':'1.2-2'}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="card p-3 shadow-lg mt-3" style="border-radius: 12px;">
      <button class="btn btn-darkblue" type="button" (click)="submitForm(form)">
        <i class="ni ni-check-bold"></i>&nbsp;&nbsp;CREATE ORDER
      </button>
      <button hidden class="btn btn-danger ml-2" type="button">
        <i class="fa fa-print" style="font-size:20px"></i>
      </button>
    </div>

</div>
