<!-- Page content -->
<div class="container-fluid mt--9">
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h1 class="mb-0">CLIENTES</h1>
      </div>

      <!-- Linha para os botões de controle e o campo de pesquisa -->
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Botões de controle de registros -->
          <div class="btn-group" role="group" aria-label="Controlar registros">
            <button type="button" class="btn btn-darkblue" (click)="openModal()">CADASTRAR CLIENTE</button>
          </div>

          <!-- Campo de filtro de pesquisa (alinhado à direita) -->
          <div class="input-group w-auto ml-auto" style="width: 400px !important;">
            <input type="text" class="form-control" placeholder="Buscar por cliente..." [(ngModel)]="searchQuery" />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-search"></i> <!-- Ícone da lupa -->
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabela de registros -->
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">
                <h4></h4>

              </th>
              <th scope="col">
                <h4>Nome do Cliente</h4>
                <i class="fas fa-sort" (click)="sortTable('nome')"></i>
              </th>
              <th scope="col">
                <h4>Saldo Devedor</h4>
                <i class="fas fa-sort" (click)="sortTable('valorTotal')"></i>
              </th>
              <th scope="col">
                <h4>E-mail</h4>
                <i class="fas fa-sort" (click)="sortTable('email')"></i>
              </th>
              <th scope="col">
                <h4>Telefone</h4>
                <i class="fas fa-sort" (click)="sortTable('telefone')"></i>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Exibição dos registros filtrados e controlados pelo número de itens -->
            <tr @fadeIn *ngFor="let order of getPagedClients(); let i = index" (click)="openModalViewCliente(order.id, order.nome, order.email, order.telefone[0]?.numero)">
              <th scope="row" [ngClass]="i % 2 === 0 ? '' : 'table-blue'">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm badge">
                      <i [ngClass]="order.status == 'ATRASADO' ? 'badge-danger' : order.status == 'PAGO' ? 'badge-success' : 'badge-agendado'"></i> {{i+1}}
                    </span>
                  </div>
                </div>
              </th>
              <td [ngClass]="i % 2 === 0 ? '' : 'table-blue'">
                {{order.nome | uppercase}} {{order.sobrenome | uppercase}}
              </td>
              <td [ngClass]="i % 2 === 0 ? '' : 'table-blue'">
                <span class="badge badge-dot mr-4">
                  <i [ngClass]="getSaldoDevedor(order.id.toString()) > 0 ? 'bg-danger' : 'bg-success'"></i> {{ getSaldoDevedor(order.id.toString()) | currency:'GBP':'symbol':'1.2-2' }}
                </span>
              </td>
              <td [ngClass]="i % 2 === 0 ? '' : 'table-blue'">
                <div class="avatar-group">
                  {{ order.email | uppercase}}
                </div>
              </td>
              <td [ngClass]="i % 2 === 0 ? '' : 'table-blue'">
                <div class="d-flex align-items-center">
                  <span class="mr-2">{{ order.telefone[0]?.ddd }}{{ order.telefone[0]?.numero }}</span>
                </div>
              </td>
              <td class="text-right" [ngClass]="i % 2 === 0 ? '' : 'table-blue'" (click)="handleButtonClick($event)">
                <div ngbDropdown placement="bottom-right" class="position-static">
                  <a [ngClass]="i % 2 === 0 ? 'btn btn-icon-only text-dark' : 'btn btn-icon-only text-white'"  ngbDropdownToggle>
                    <i class="ni ni-settings"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Enviar cobrança</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="modal-overlay" class="modal-overlay"></div>
        <modal-criar-cliente
            *ngIf="isModalOpen"
            (close)="closeModal()">
        </modal-criar-cliente>

        <modal-view-cliente
        *ngIf="isModalViewClienteOpen"
        [id]="modalData.id"
        [nome]="modalData.nome"
        [email]="modalData.email"
        [dataNascimento]="modalData.dataNascimento"
        [telefone]="modalData.telefone"
        [ddd]="modalData.ddd"
        [rua]="modalData.rua"
        [numero]="modalData.numero"
        [cidade]="modalData.cidade"
        [postcode]="modalData.postcode"
        [saldoDevedor]="modalData.saldoDevedor"
        (close)="closeModal()">
        </modal-view-cliente>

      </div>

      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="javascript:void(0)" (click)="previousPage()">
                <i class="fas fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let page of getPaginationPages()"
            [class.active]="page === currentPage"
            [class.disabled]="page === -1">
              <a class="page-link" href="javascript:void(0)" (click)="page !== -1 ? goToPage(page) : null">
                <span *ngIf="page !== -1">{{ page }}</span>
                <span *ngIf="page === -1">...</span>
              </a>
            </li>

            <li class="page-item" [class.disabled]="currentPage === totalPages()">
              <a class="page-link" href="javascript:void(0)" (click)="nextPage()">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</div>
</div>
