<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" (click)="onBackgroundClick($event)" @fadeIn>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h1 class="modal-title ml-4">{{nome | uppercase}}</h1>
          <button type="button" class="close" aria-label="Close" (click)="closeMyModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
          <div class="row">
            <div class="col">

                <div class="container">
                    <div class="main-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body" style="background-color: #f4f5f7;">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                            <div class="mt-3">
                                                <h4>{{nome}}</h4>
                                                <p class="text-secondary mb-1" style="color: grey !important;">{{dataNascimento}}</p>
                                                <p class="text-muted font-size-sm">United Kingdom, {{cidade}}, {{postcode | uppercase}}</p>
                                                <button *ngIf="saldoDevedor > 0" class="btn btn-danger">ATRASADO</button>
                                                <button *ngIf="saldoDevedor > 0" class="btn btn-outline-danger">COBRAR</button>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <h4>Histórico de Pagamentos</h4>
                                        <ul class="list-group list-group-flush" *ngIf="objectKeys(listPagamentos).length === 0 ">
                                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <span class="text-secondary">Sem histórico de pagamento.</span>
                                            </li>
                                        </ul>
                                        <ul *ngFor="let invoiceNumber of objectKeys(listPagamentos)" class="list-group list-group-flush">
                                            <li *ngFor="let pagamentos of listPagamentos[invoiceNumber]" class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <h4 class="mb-0"><i class="ni ni-like-2 icon-success"></i> 
                                                  {{formatDate(pagamentos.dataPagamento)}}</h4>
                                                <span class="text-secondary"> 
                                                  {{pagamentos.valorPago | currency:'GBP':'symbol':'1.2-2'}} 
                                                </span>
                                                <span>
                                                  "PAGO"
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body" style="background-color: #f4f5f7;">
                                        <h3 class="d-flex align-items-center mb-3">INFORMAÇÕES DO PERFIL</h3><hr>
                                        <div class="row mb-3">
                                            <div class="col-sm-4">
                                                <h4 class="mb-0">Nome Completo</h4>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                <input type="text" class="form-control" [(ngModel)]="nome" name="nome">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-4">
                                                <h4 class="mb-0">Email</h4>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                <input type="text" class="form-control" [(ngModel)]="email" name="email">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-4">
                                                <h4 class="mb-0">Data de Nascimento</h4>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                <input type="text" class="form-control" [(ngModel)]="dataNascimento" name="dataNascimento">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-4">
                                                <h4 class="mb-0">Telefone</h4>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                <input type="text" class="form-control" [(ngModel)]="telefone" name="telefone">
                                            </div>
                                        </div>
                                        <h3>ENDEREÇO</h3><hr class="mt-0">
                                        <div class="row mb-3 mt--3">
                                            <div class="col-sm-4 text-secondary">
                                                <label>Rua</label>
                                                <input type="text" class="form-control" [(ngModel)]="rua" name="rua">
                                            </div>
                                            <div class="col-sm-2 text-secondary">
                                                <label>Numero</label>
                                                <input type="text" class="form-control" [(ngModel)]="numero" name="numero">
                                            </div>
                                            <div class="col-sm-3 text-secondary">
                                                <label>Postcode</label>
                                                <input type="text" class="form-control text-uppercase" [(ngModel)]="postcode" name="postcode">
                                            </div>
                                            <div class="col-sm-3 text-secondary">
                                                <label>Cidade</label>
                                                <input type="text" class="form-control" [(ngModel)]="cidade" name="cidade">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-8 text-secondary">
                                                <input type="button" class="btn btn-info px-4" value="Salvar Alterações">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body" style="background-color: #f4f5f7;">
                                                <h3 class="d-flex align-items-center mb-3">ORDENS DE SERVIÇO</h3><hr>
                                                <div *ngFor="let ordem of listOrdemServico; let i = index" (click)="openModal(ordem.id, ordem.statusOrdemServico.tipoStatus, ordem.valorTotal, ordem.cliente.nome)" class="card card-ordem-primary" [ngClass]="i % 2 == 0 ? 'card-ordem-color' : '' " style="position: relative;">
                                                    <div class="mt-3 ml-2">
                                                        <p>Invoice Number: {{ordem.invoiceNumber}}</p>
                                                    </div>
                                                    <div class="mt-3" style="position: absolute; right: 10px;">
                                                        <p>Total: {{ordem.valorTotal | currency:'GBP':'symbol':'1.2-2'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </div>
        <!-- Footer do modal -->
        <div class="modal-footer">
          <div class="form-row align-items-end mt-0 d-flex justify-content-start">
            <div class="col-auto" placement="top" ngbTooltip="Saldo Devedor Total do Cliente. (Inclui parcelas Agendadas e Atrasadas)">
              <div style="width: 14rem;">
                <div class="card card-stats mb-0 mb-lg-0" style="width: 255px;" [ngClass]="saldoDevedor > 0? 'bg-info': 'bg-success'">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h4 class="card-title text-uppercase mb-0" style="color: white; font-style: bold;">SALDO DEVEDOR</h4>
                        <span class="h2 font-weight-bold mb-0" style="color: white; font-style: bold;"> {{saldoDevedor | currency:'GBP':'symbol':'1.2-2'}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-secondary rounded-circle shadow">
                          <i class="fa fa-calculator "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="getParcelasAtrasadas() > 0" class="form-row align-items-end mt-0 ml-4 d-flex justify-content-start">
            <div class="col-auto" placement="top" ngbTooltip="Saldo Atrasado do Cliente.">
              <div style="width: 14rem;">
                <div class="card card-stats mb-0 mb-lg-0" style="width: 255px;" [ngClass]="saldoDevedor > 0? 'bg-danger': 'bg-success'" style="width: 260px !important;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h4 class="card-title text-uppercase mb-0" style="color: white; font-style: bold;">SALDO ATRASADO</h4>
                        <span class="h2 font-weight-bold mb-0" style="color: white; font-style: bold;"> {{getParcelasAtrasadas() | currency:'GBP':'symbol':'1.2-2'}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-secondary rounded-circle shadow">
                          <i class="fa fa-calculator "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Alinha os botões no canto direito -->
          <div class="ml-auto d-flex flex-column align-items-end">
            <!-- Botões -->
            <div class="d-flex">
              <button *ngIf="saldoDevedor > 0" type="button" class="btn btn-success">Pagar</button>
              <button type="button" class="btn btn-danger">Excluir</button>
              <button type="button" class="btn btn-secondary ml-2" (click)="closeMyModal()">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-overlay" class="modal-overlay"></div>
  <modal-listar-ordemServico
      *ngIf="modarViewOs" 
      [id]="modalData.id"
      [nome]="modalData.nome"
      [status]="modalData.status"
      [valorTotal]="modalData.valorTotal"
      [valorDaEntrada]="modalData.valorEntrada"
      (close)="closeModal()">
  </modal-listar-ordemServico>
  
  