ul li span{
    color: grey !important;
}

.card-body .card:hover {
    background-color: #f4f5f7;
    cursor: pointer;
}

.card-ordem-color:hover {
    background-color: rgb(102, 123, 239) !important;
}

.icon-succes {
    color: #2dce89;
}
.icon-danger {
    color: #f5365c;
}

.row label{
    color: rgb(50, 50, 93);
}

.card-ordem-color{
    background-color: rgb(94, 114, 228); 
    color: white;
}