<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" @fadeIn>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title ml-4">NEGOCIAÇÃO DE ORDEM DE SERVIÇO</h1>
                <div class="ml-auto d-flex">
                </div>
                <button type="button" class="close" aria-label="Close" (click)="closedModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <div class="row">
                    <div class="col">

                        <div class="container d-md-flex align-items-center">
                            <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
                                <label>Valor total devido</label>
                                <div class="fw-bolder mb-4">
                                    <!--<span class="fas fa-dollar-sign"></span>-->
                                    <span class="ps-1">{{saldoDevedor | currency:'GBP':'symbol':'1.2-2'}}</span>
                                </div>
                                <label>Valor total atrasado</label>
                                <div class="fw-bolder mb-4">
                                    <span class="ps-1">{{100 | currency:'GBP':'symbol':'1.2-2'}}</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center justify-content-between text"> <span class="">Valor a negociar:</span> <span
                                            ><span class="ps-1">{{ordemServico.statusOrdemServico.saldoDevedor| currency:'GBP':'symbol':'1.2-2'}}</span></span> </div>
                                    <div class="d-flex align-items-center justify-content-between text"> <span class="">Juros:</span> <span
                                                ><span class="ps-1">{{0| currency:'GBP':'symbol':'1.2-2'}}</span></span> </div>
                                    <div class="d-flex align-items-center justify-content-between text mb-4"> <span>Valor Total devido:</span> <span
                                            ><span class="ps-1">{{ordemServico.statusOrdemServico.saldoDevedor| currency:'GBP':'symbol':'1.2-2'}}</span></span> </div>
                                    <div class="border-bottom mb-4"></div>
                                    <div class="d-flex flex-column mb-4"> <span class="far fa-file-alt text"><span class="ps-2">&nbsp; Invoice
                                                NUMBER:</span></span> <span class="ps-3">{{ordemServico.invoiceNumber}}</span> </div>
                                    <div class="d-flex flex-column mb-5"> <span class="far fa-calendar-alt text"><span class="ps-2">&nbsp; Próxima
                                                parcela:</span></span> <span class="ps-3">{{ordemServico.statusOrdemServico.proximoVencimento}}</span> </div>
                                    <!--<div class="d-flex align-items-center justify-content-between text mt-5">
                                        <div class="d-flex flex-column text"> <span>Customer Support:</span> <span>online chat 24/7</span>
                                        </div>
                                        <div class="btn btn-primary rounded-circle"><span class="fas fa-comment-alt"></span></div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="card box2">
                                        <div>
                                            <div class="d-flex pt-3 pl-3">
                                                <div><img src="../../../../assets/img/icons/money-management.png" style="width: 60px; height : 80px" /></div>
                                                <div class="mt-3 pl-2"><span class="name">{{nomeCliente}}</span>
                                                    <div><span class="cross">Data:</span><span class="pin ml-2">{{today | date}}</span></div>
                                                </div>
                                            </div>
                        
                        
                                            <div class="py-2  px-3">
                                                <div class="pl-2 d-flex py-2" [ngClass]="totalPayment ? 'active' : 'second' ">
                                                    <div class="form-check">
                                                        <input type="radio" name="optradio" class="form-check-input mt-3 dot"
                                                            [attr.checked]="true">
                                                    </div>
                                                    <div class="border-left pl-2"><span class="head">Valor total devido</span>
                                                        <div><span class="amount">{{ordemServico.statusOrdemServico.saldoDevedor| currency:'GBP':'symbol':'1.2-2'}}</span></div>
                                                    </div>
                        
                                                </div>
                                            </div>

                                            <div class="py-2 px-3">
                                                <div class="pl-2 d-flex py-2" [ngClass]="totalPayment ? 'active' : 'second'">
                                                    <div class="border-left pl-2 d-flex justify-content-between w-100">
                                                        <!-- Quantidade de Parcelas à esquerda -->
                                                        <div>
                                                            <label for="exampleFormControlSelect1" class="amount">Quantidade</label>
                                                            <select class="form-control" id="exampleFormControlSelect1" style="width: 60px !important;">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                                <option>6</option>
                                                                <option>7</option>
                                                                <option>8</option>
                                                                <option>9</option>
                                                                <option>10</option>
                                                            </select>
                                                        </div>
                                                        <!-- Parcelas à direita -->
                                                        <div class="mr-2">
                                                            <label for="exampleFormControlSelect2" class="amount">Parcelas</label>
                                                            <select class="form-control" id="exampleFormControlSelect2" style="width: 180px !important;">
                                                                <option>£100.00 - 29/10/18</option>
                                                                <option>£70.00 - 13/02/19</option>
                                                                <option>£20.00 - 02/01/21</option>
                                                                <option>£300.00 - 10/08/25</option>
                                                                <option>£70.00 - 20/07/24</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <div class="col-12 px-md-5 px-4 mt-3"> 
                                                <div class="btn btn-pagar w-100">Negociar</div> 
                                            </div>
                        
                                        </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer do modal -->
            <div class="modal-footer text-center">
                <!-- Alinha os botões no canto direito -->
                <div class="ml-auto d-flex flex-column align-items-end">
                    <!-- Linha com a label e o botão de copiar ao lado -->

                    <!-- Botões -->
                    <div class="d-flex">
                        <button type="button" class="btn btn-secondary btn-sm ml-2"
                            (click)="closedModal()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>